@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../fonts/Poppins-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.hero {
  padding-top: 80px;
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

header {
  background: #0d0d0d;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
  background-color: #0d0d0d;
}

#navbar-responsive {
  position: fixed;
  background: url(../images/background.png);
  background: #232536;
  top: 0;
  bottom: 0;
  left: -150%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0.99;
  z-index: 10;
}
#navbar-responsive .res-nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
#navbar-responsive .res-nav-item {
  margin: 20px 0px;
  text-align: center;
}
#navbar-responsive .res-nav-link {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#navbar-responsive .res-nav-btn {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fff;
}
#navbar-responsive .res-nav-btn:hover {
  background: #f2c79b;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-shrink {
  margin-top: -15px;
  margin-bottom: -25px;
  box-shadow: 5px 0 10px 3px black;
}

footer {
  background: #161722;
  padding-top: 64px;
  padding-bottom: 64px;
}
footer .footer {
  display: grid;
  grid-template-columns: 60% 40%;
}
footer .footer__left {
  display: flex;
  justify-content: space-between;
  padding-right: 115px;
}
@media (max-width: 600px) {
  footer .footer__left {
    padding-right: 0;
  }
}
footer .footer__left__hero h3 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 27.65px;
  padding-bottom: 32px;
}
footer .footer__left__hero p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 16px;
}
footer .footer__left__link {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}
footer .footer__left__link ul h3 {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}
footer .footer__left__link ul li {
  padding-bottom: 24px;
}
footer .footer__left__link ul li a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
footer .footer__left__link__social h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}
footer .footer__left__link__social img {
  padding-right: 20px;
}
@media (max-width: 600px) {
  footer .footer__left {
    flex-direction: column;
    text-align: center;
  }
}
footer .footer__right h2 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding-bottom: 32px;
}
footer .footer__right__mail {
  position: relative;
}
footer .footer__right__mail input {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 20px;
  width: 100%;
}
footer .footer__right__mail > button {
  position: absolute;
  right: 0px;
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
footer .footer__right__mail > button:hover {
  background: #f2c79b;
}
@media (max-width: 450px) {
  footer .footer__right__mail {
    display: flex;
    flex-direction: column;
  }
  footer .footer__right__mail button {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  footer .footer__right {
    display: none;
  }
}
@media (max-width: 1050px) {
  footer .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

#header {
  background: #232536;
  padding-top: 27px;
  padding-bottom: 27px;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  #header .header .header__link {
    display: none;
  }
}
#header .header .hamburger {
  display: none;
}
@media (max-width: 700px) {
  #header .header .hamburger {
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
  }
}
#header .header h1 {
  color: #fff;
}
#header .header ul {
  display: flex;
  gap: 32px;
}
#header .header ul li a,
#header .header ul li .active {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
#header .header ul li a {
  opacity: 0.6;
}
#header .header ul li .active {
  opacity: 1;
}
#header .header h3 a {
  color: var(--secondary-orange, #ffd3af);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}